.clock-setter {
  text-align: center;
  padding: 10px;
}
.clock-container {
  padding: 16px 30px;
  background: green;
  width: 300px;
  margin: 20px auto;
}
.clock-balls {
  width: 240px;
  background: #fff;
  padding: 7px;
  display: inline-block;
}
.clock-timer {
  background: yellowgreen;
}
.clock-counter {
  font-size: 35px;
  font-weight: bold;
}
.clock-dayer {
  font-size: 30px;
}
