.hormone-container {
  position: fixed;
  top: 12%;
}
.hormones-table {
  padding: 1rem 4rem;
}
 .description-container {
   margin-top: 2rem;
   padding: 1rem;
 }
 .ovulation-description,
 .preovulation-description,
 .postovulation-description {
   font-size: 2.2rem;
   font-weight: 300;
 }
 .ovulation-description {
   color: #ff7a00;
 }
 .postovulation-description {
   color: #9C27B0;
 }
 .preovulation-description {
   color: #12a3c1;
 }
 .active-preovulation, .pre-ovulation {
   background-color: #12a3c1 !important;
   border-color: #12a3c1 !important;
   color: #FFFFFF;
 }
 .active-ovulation, .ovulation {
   background-color: #ff7a00 !important;
   border-color: #ff7a00 !important;
   color: #FFFFFF;
 }
 .active-postovulation, .post-ovulation {
   background-color: #9C27B0 !important;
   border-color: #9C27B0 !important;
   color: #FFFFFF;
 }
.animate-text,
.ovulation-description,
.preovulation-description,
.postovulation-description {
   animation-name: fade;
   animation-fill-mode: both;
   animation-duration: 1s;
   animation-direction: alternate;
 }

@keyframes fade {
  0%,50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
