.visualizer-container {
  background-color: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  height: 100%;
}
.fa-redo-alt {
  width: 2rem;
}
.observe-button, .test-button {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0;
  font-size: 1.6rem;
  color: #000;
}
.test-button, .test-button:hover {
  border: 1px solid #dedede;
  color: #dedede;
  background-color: rgba(0,0,0,0);
}
.test-button-active, .observe-button-active {
  background-color: #dedede;
  font-weight: bold;
}
.test-button-active:hover,
.observe-button-active:hover {
  background-color: #EEEEEE;
  color: #555555;
}
#disabledBtn {
  cursor: help;
}
.btn, .modal-container button {
  outline: 0;
}
.modal-color-title, .modal-lang-title {
  font-size: 1.1rem;
}
.modal-lang-title {
  line-height: 2;
}
.modal-lang-container {
  margin-top: 1rem;
}
.modal-container .btn-secondary {
  position: fixed;
  bottom: 8%;
  right: 2%;
  background: #fafafa;
  border-color: #fafafa;
  border-radius: 50%;
  font-size: 1.8rem;
}
.modal-container .btn-secondary:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.modal-container .btn-secondary svg {
  margin-bottom: .3rem;
}
