#disabledBtn {
  cursor: help;
}
.btn, .modal-container button {
  outline: 0;
}
.modal-color-title, .modal-lang-title {
  font-size: 1.1rem;
}
.modal-lang-title {
  line-height: 2;
}
.modal-lang-container {
  margin-top: 1rem;
}
.modal-container .btn-secondary {
  position: fixed;
  bottom: 8%;
  right: 2%;
  background: #fafafa;
  border-color: #fafafa;
  border-radius: 50%;
  font-size: 1.8rem;
}
.modal-container .btn-secondary:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.modal-container .btn-secondary svg {
  margin-bottom: .3rem;
}
.explanation {
  color: #555;
}
.body-svg {
  margin-left: 10%;
}
.MuiGrid-grid-xs-12-154 {
  flex-basis: initial !important;
}


/*  Animation to trigger ovule apparition on the 14th day */
.appearOvule{
  animation: appearOvule 3s forwards;
}

.notAppearOvule{
  display: none;
}
.growPituitary{
  transform: scale(1.4);
  transform-origin: 50% 15%;
  transition: all .05s ease-in;
}
@keyframes appearOvule {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  100% {
    opacity: 1;
    transform: translate(-10%, -5%);
  }
}
.deleteOvaries{
  display: none;
}
.deletePituitary{
  display: none;
}