.fsh-puces, .fsh-container, .fsh-state {
  color: #ff7a00;
}
.lh-puces, .lh-container, .lh-state {
  color: #12a3c1;
}
.oestro-puces, .oestro-container, .oestro-state {
  color: #3bc71f;
}
.progest-puces, .progest-container, .progest-state {
  color: #9C27B0;
}
.fsh-puces, .lh-puces, .oestro-puces, .progest-puces {
  font-size: 110px;
  vertical-align: bottom;
}
.fsh-state, .lh-state, .oestro-state, .progest-state {
   font-size: 60px;
   vertical-align: bottom;
 }
.lh-container, .fsh-container, .oestro-container, .progest-container {
  font-size: 60px;
}
.hormones-container {
  display: block;
  position: fixed;
  right: 20px;
  top: 200px;
  padding: 20px;
}
.button-start {
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 10px;
}
.button-stop {
  font-size: 17px;
  cursor: pointer;
}
.clock-container {
  position: fixed;
  right: 30px;
  width: 400px;
  padding: 30px;
  background: green;
}
.clock-balls {
  width: 300px;
  background: #fff;
  padding: 10px;
  display: inline-block;
}
.clock-timer {
  background: yellowgreen;
  padding: 10px;
  text-align: center;
}
.clock-counter {
  font-size: 50px;
  font-weight: bold;
}
.clock-dayer {
  font-size: 42px;
}
.clock-setter {
  width: 60px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  float: right;
}
.oestro-hormones, .progest-hormones {
  fill: none;
  stroke: none;
}
circle {
  cursor: pointer;
}
.Human-image {
  position: absolute;
  z-index: -5;
}
.increase-oestro {
  background: #dedede;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.increase-progest {
  background: #dedede;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 5px;
}
.increase-lh, .increase-fsh {
  background: #dedede;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}
.fsh-hormones {
  fill: none;
  stroke: none;
}
.lh-hormones {
  fill: none;
  stroke: none;
}
path.fsh {
  fill: none;
  stroke: none;
}
.blue {
  fill: steelblue;
}
.red {
  fill: #12a3c1;
}
