.active-ovulation,
.active-preovulation,
.active-postovulation {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
.pre-ovulation,
.ovulation,
.post-ovulation {
  width: 9rem;
  font-size: 1.1rem;
}
.phases {
  padding: 1rem 0;
}
.ovulation {
  margin: 1rem 0;
}
