.Phases-Container {
  padding: 20px;
}
.select-step {
  font-size: 35px;
}

.active-ovulation, .active-preovulation, .active-postovulation {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
